@charset "UTF-8";

div.tree-toggler{
	display: inline-block;
	cursor: pointer;
	margin-right: 3px;
}
div.spinner_wrapper{
	display: inline-block;
	width: 15px;
	height: 15px;
}
div.spinner_wrapper > img{
	width: 15px;
	height: 15px;
}
ul li{
	list-style-type: none;
}
ul.doombrowser li.loaded > div > i.fa-folder{
	color: green;
}
div.closed{

}

ul.hidden{
	display: none;
}
i.fa-folder-open{
	color: blue;
}

#search_options_table th,
#search_options_table td{
	text-align: left;
	padding:5px;
}
#search_options_table th{
	padding-top: 0px;
	padding-bottom: 0px;
}
#search_options_table thead{
	border-bottom:1px solid #eee;
}